.h1 {
  color: gold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header {
  display: flex;
  align-items: center;
}

.search-input {
  margin-left: 10px;
}
.header-navigation {
  height: 72px;
  background-color: white;
}
.site-name {
  color: slategray;
  font-weight: 600;
  margin-left: 2px;
}
.site-icon {
  width: 20px;
}

.search-area {
  width: 560px;
  display: flex;
  box-shadow: 0 0 1px 2px rgb(231, 231, 231);
  margin-left: 15px;
  height: 29px;
  border-radius: 5px;
}
.search-area button {
  width: 10%;
  background: none;
  border: none;
}

.search-input {
  border: none;
  width: 90%;
}
nav {
  display: flex;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding-left: 15px;
}

.nav-items i {
  font-size: 25px;
  color: rgb(102, 102, 255);
}

.nav-items span {
  font-size: 12px;
  color: rgb(116, 116, 116);
}
